<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
    <ion-buttons end  (click)="navigateToSettings()">
      <button ion-button icon-only>
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-refresher (ionRefresh)="refresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-card  *ngFor="let Anonce of Anonces; let i of index">
      <img  src="http://192.168.42.183:4040/Images/Anonces/{{Anonce.Image}}" *ngIf="Anonce.Image">
      <ion-item>
        <ion-icon name="information-circle" item-left large></ion-icon>
        <h2>Etablissement</h2>
        <p>{{Anonce.Etablissement.Nom}}</p>
      </ion-item>
      <p padding> {{Anonce.Description | truncate : 20}}</p>
      <ion-item>
        <button ion-button icon-left clear item-right (click)="navigateToDetails(i)">
          <ion-icon name="link"></ion-icon>
          Read more
        </button>
      </ion-item>
    </ion-card>
  </ion-list>

</ion-content>
